html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-image: url("/images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%) ;
    font-size: 14px; text-align: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: hsl(249, 10%, 26%);
}

ul {
    list-style-type: none;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
}

.header__title {
    margin-left: 2rem;
}

.links {
    margin-left: 45rem;
}

.ul__welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.li__welcome{
    margin: 5px;
}

/* Main */

.container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 400px;
}

.search {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 70px;
    margin-top: 10px;
}

.search__input-text {
    border: 1px solid red;
    display: flex;
}

.search__input-button {
    border: 1px solid red;
    display: flex;
}

