html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-image: url("/images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%) ;
    font-size: 14px; text-align: center; 
    font-family: "Poppins", sans-serif;
    color: #fff;
}


main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1040px;
} 

.learn-code {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
}

.learn__h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}

.learn__p {
    font-size: 12px;
}

.form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}


.cta__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    background-color: hsl(248, 32%, 49%);
}

.form {
    display: flex;
    flex-direction: column;
    margin: 25px;
    background-color: #fff;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.input__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

input {
    width: 320px;
    height: 45px;
    border-radius: 10px;
    margin: 5px;
    border: none;
}

.input-text {
    padding: 0px 100px 0px 12px;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    position: relative;
    border: 1px solid #ccc;
    color: hsl(249, 10%, 26%);
    font-weight: bold;
}

.input-text:focus {
    border-color: hsl(249, 10%, 26%);
}

.input-button {    
    width: 435px;
    border: 1px solid #ccc;
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    display: flex;
}

/* Pàgina Cadastrados */

.usuarios_cadastrados {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 300px;
}

.usuarios__title {
    font-size: 20px;
    font-weight: 400;
}

.labels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: hsl(249, 10%, 26%);
    border-radius: 20px;
}

.foreach {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
}

.naoconsigoinventarnome {
    display: flex;
    flex-direction: row;
    align-items: left   ;
    margin-right: 10px;
}

.login {
    display: flex;
    flex-direction: column;
}






